body{
    background-color: #fff7b3;
    font-family: "Arial Black", Gadget, sans-serif;
}
#wrap{
    text-align: center;
    margin: auto;
}
#gauges{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
}
.gauge-main{
    width: fit-content;
    height: fit-content;
    position: relative;
    flex-direction: column;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
.gauge-wrap {
  margin: auto;
  width: 400px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  position: relative;
  }
  
  .gauge-title {
    z-index: 30;
    position: absolute;
    background-color: #fff7b3;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    border-radius: 250px 250px 0px 0px;
  }
  
  .gauge-kicker {
    height: 200px;
    top: 200px;
    z-index: 20;
    position: absolute;
    background-color: #00BCD4;
    width: 400px;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    /* GAUGE PERCENTAGE*/
    transform:rotate(.5turn);
  }
  .gauge-back {
    height: 200px;
    top: 200px;
    z-index: 15;
    position: absolute;
    background-color: #cccccc;
    width: 400px;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transform: rotate(.5turn);
  }
  .gauge-data {
    z-index: 40;
    color: black;
    font-size: 1.6em;
    position: absolute;
    width: 400px;
    top: 90px;
  }
  